body{
    background-color: burlywood;
    padding: 20%;
}
.container{
    width:20%;
    margin: auto;
    /*display: flex;*/
    /*justify-content: center;*/
}
kbd{
    border: 3px solid black;
    background-color: white;
    width: 20px;
    height: 100px;
    padding: 100px 10px;
}